{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}Sobre o Rango {% endblock title_block %}

{% block body_block %}

    <h1> Rango </h1>

    <p> Essa é a página sobre o Rango.</p>
    <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />

{% endblock body_block %}