{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}Adicionando página em {{ category.name }}{% endblock title_block %}

{% block body_block %}
    {% if category %}
        <h1> Adiciona uma página na categoria {{ category.name }} </h1>

        <form id="page_form" method="post" action="{% url 'add_page'  category.slug %}">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Criar Página na Categoria {{ category.name }}" />
        </form>
    {% else %}
        <p> <strong>Esta Categoria não existe.</strong></p>
    {% endif %}
{% endblock body_block %}