{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}{{ category.name }}{% endblock title_block %}

{% block body_block %}
    {% if category %}
        <h1> {{ category.name }} </h1>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a target="_blank" href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {%  else %}
            <strong> Não existem páginas para esta categoria </strong>
        {% endif %}
        {% if user.is_authenticated %}
            <br/> <a href="{% url 'add_page' category.slug %}">Adicione uma nova Página</a><br />
        {% endif %}
    {% else %}
        <strong> Não existe a categoria especificada: {{ category_name_slug }} </strong>
    {% endif %}

{% endblock body_block %}