{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
<h1> Rango </h1>

{% if categories %}
    <h2>Top 5 Categorias mais curtidas:</h2>
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'category'  category.slug %}"> {{ category.name }}</a> ({{category.likes}})</li>
        {% endfor %}
    </ul>
{% else %}
    <strong> Não existem categorias cadastradas. </strong>
{% endif %}

{% if pages %}
    <h2>Top 5 Páginas mais visitadas:</h2>
    <ul>
        {% for page in pages %}
            <li><a target="_blank" href="{{ page.url }}"> {{ page.title }}</a> ({{page.views}})</li>
        {% endfor %}
    </ul>
{% else %}
    <strong> Não existem páginas cadastradas. </strong>
{% endif %}

    Você já acessou essa página {{ visits }} vezes.
    </br> Sua última visita foi em {{ last_visit }}.
{% endblock body_block %}
