<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango - {% block title_block %} How to Tango with Django {% endblock title_block %}</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}"/>
</head>
<body>

<div>
    {% block body_block %} {% endblock body_block %}
</div>

<hr/>

<div>
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'add_category' %}">Adicione uma nova Categoria</a></li>
            <li><a href="{% url 'restricted' %}">Página restrita</a></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
            <li><a href="{% url 'about' %}">Sobre</a></li>
            <li><a href="{% url 'logout' %}">Sair</a></li>
            <li>Você está autenticado como o usuário <strong>{{ user.username }}</strong>.</li>
        {% else %}
            <li><a href="{% url 'register' %}">Registre-se Aqui</a></li>
            <li><a href="{% url 'about' %}">Sobre</a></li>
            <li><a href="{% url 'login' %}">Entrar</a></li>
            <li>Você não está autenticado.</li>
        {% endif %}
    </ul>
</div>

</body>
</html>